.button-add button {
  font: inherit;
  font-size: 1.5em;
  cursor: pointer;
  background-color: white;
  border: 1px solid gray;
  color: black;
  padding: 0.25rem 2rem;
}
.button-add button:hover {
  background-color: #3f51b5;
}
