.login-form {
  margin: 1em;
  display: block;
}
.login-input {
  width: 100%;
  padding: 2%;
}
.modal-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.modal-close {
  padding: 1rem;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  line-height: 0.5;
}
.form-button {
  width: 100%;
  text-align: center;
  color: #fff;
  border: 1px solid #000000;
  background-color: #3f51b5;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
}
.error {
  color: red;
}

.msg {
  color: darkblue;
}
